# xmz-test-tool.service
#
# Unit files for systemd to control the xmz-test-tool.
#
[Unit]
Description="Test tool for the 'xMZ' platform."
After=weston.service

[Service]
Type=simple
Environment=XDG_RUNTIME_DIR=/run/user/root
Environment=XMZ_HARDWARE=0.1.0
Environment=LANG=de_DE.UTF-8
ExecStart=/usr/bin/xmz-test-tool
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
